body { 
    margin: 0; 
    padding: 0; 
    font-family: Be Vietnam Pro, sans-serif;
}
#map { 
    position: absolute; 
    top: 0; 
    bottom: 40px; /* Adjust this value to the height of the footer */
    width: 100%; 
}
.mapboxgl-ctrl-geocoder {
    position: absolute;
    bottom: 100px; /* Adjust this value to place above the footer correctly */
    right: 50px;
    z-index: 1;
}
.map-overlay {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    
}
.layer-selection {
    position: absolute;
    bottom: 60px; /* Position from the bottom */
    left: 50px; /* Position from the left */
    z-index: 10;
    cursor: pointer;
    display: flex; /* Ensure elements are in line */
    align-items: start; /* Align items at the top */
    
}

.current-layer {
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 5; /* Ensures it appears below the options on hover */
}

.current-layer img {
    width: 50px; /* Keep your existing size */
    height: auto;
    border-radius: 8px;
}

.layer-options {
    display: flex;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Start fully transparent */
    position: absolute;
    bottom: 0; /* Align top with current layer */
    left: calc(100% + 10px); /* Offset to the right of the current layer, minimal gap */
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-sizing: border-box;
    width: auto; /* Let it size according to content or specify a width */
    transition: visibility 0.7s 0.3s, opacity 0.3s 0.7s; /* Delay the visibility change, smooth opacity transition */
    font-size: 12px;    
}

.layer-selection:hover .layer-options {
    visibility: visible; /* Make visible when hovered */
    opacity: 1; /* Fully opaque */
    transition: visibility 0s linear 0s, opacity 0s linear; /* Apply no delay when showing */
}

.layer-option {
    padding: 5px;
    border-radius: 4px;
    display: block; /* Stack them vertically */
    margin-bottom: 5px; /* Space between options */
    text-align: center; /* Center-align the text */
}

.layer-option img {
    width: 80px; /* Ensure the image stretches to the width of the .layer-option */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px; /* Optional: rounded corners for the images */
}

.map-thumbnail {
    margin-right: 5px; /* Space between thumbnails */
    cursor: pointer;
    position: relative;
}

.map-thumbnail img {
    width: 50px; /* Thumbnail width, adjust as needed */
    aspect-ratio: 5/4;
    border: 1px solid #ccc; /* Optional border for visibility */
    object-fit: cover;
    transition: filter 0.3s; /* Smooth transition for grayscale effect */
    
}

.map-thumbnail .map-name {
    position: absolute;
    top: 50%; /* Position the top edge of the text block at the center */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Shift the text block up by half its height to center */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically for flex columns */
    text-align: center; /* Ensure multi-line text is centered */
    font-size: 1em; /* Adjust font size as needed */
    padding: 0 10px; /* Add some padding inside the overlay box */
    box-sizing: border-box; /* Ensure padding doesn't increase the size of the box */
    opacity: 0; /* Start with an invisible overlay */
    transition: opacity 0.3s; /* Smooth transition for the overlay */
    line-height: 1.2em; /* Adjust line height as needed for better readability */
}

.map-thumbnail:hover .map-name {
    opacity: 1; /* Fully visible on hover */
}

.map-thumbnail:hover img {
    filter: grayscale(100%); /* Gray out the image */
}   

button {
    display: block;
    margin-bottom: 5px;
}
.footer-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; /* or any other color */
    color: white;
    text-align: left; /* Align text to the left */
    padding: 10px 20px; /* Added 20px left and right padding for better spacing */
    height: 20px;
    z-index: 1000;
    border-top: 1px solid #848484; /* adding a thin gray line */
}
.footer-menu a{
    padding: 5px 5px;
    text-decoration: underline;
    font-size: 12px;
    color: rgb(126, 126, 126);
    display: inline; /* Maintain inline display */
}

.footer-menu .divider {
    padding: 5px 5px;
    text-decoration: none;
    font-size: 12px;
    color: rgb(126, 126, 126);
    display: inline; /* Maintain inline display */
}

