body { 
    margin: 0; 
    padding: 0; 
    font-family: Be Vietnam Pro, sans-serif;
}

header {
    background-color: #ffffff; /* Dark gray background */
    color: #585858; /* White text color */
    padding: 10px 10px; /* Vertical and horizontal padding */
    text-align: left; /* Centers the text horizontally */
    z-index: 5;
    position: fixed;
    width: 100%;
}
h1 {
    margin: 0; /* Removes default margin */
    font-size: 24px; /* Sets the size of the title text */
}

#map { 
    position: absolute; 
    top: 40px; 
    bottom: 40px; /* Adjust this value to the height of the footer */
    width: 100%; 
}
.mapboxgl-ctrl-geocoder {
    position: absolute;
    bottom: 100px; /* Adjust this value to place above the footer correctly */
    right: 50px;
    z-index: 1;
}
.map-overlay {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
button {
    display: block;
    margin-bottom: 5px;
}
.footer-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; /* or any other color */
    color: white;
    text-align: left; /* Align text to the left */
    padding: 10px 20px; /* Added 20px left and right padding for better spacing */
    height: 20px;
    z-index: 5;
    border-top: 1px solid #848484; /* adding a thin gray line */
}
.footer-menu a{
    padding: 5px 5px;
    text-decoration: underline;
    font-size: 12px;
    color: rgb(126, 126, 126);
    display: inline; /* Maintain inline display */
}

.footer-menu .divider {
    padding: 5px 5px;
    text-decoration: none;
    font-size: 12px;
    color: rgb(126, 126, 126);
    display: inline; /* Maintain inline display */
}


