/* OverlayButtons.css */
.overlay-buttons {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 60px;
    left: 210px;
    transform: translateX(-50%);
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 0px 0px;
    flex-wrap: nowrap;
}

.overlay-button {
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    border-radius: 10px;
    margin: 0 0px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
}

.overlay-button:hover {
    background-color: #ddd;
}

.overlay-button.active {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
}