/* Subheader.css - Styles for the subheader component */

.subheader {
    background-color: #ffffff; /* White background color */
    padding: 5px; /* Adjust padding as needed */
    text-align: left; /* Align text to the left */
    position: relative; /* Ensure it's not absolute or fixed */
    z-index: 10; /* Ensure it stays above other content */
    border-bottom: 1px solid #848484; /* Light gray border at the bottom */
}

.subheader h2 {
    font-size: 18px; /* Font size for the subheader title */
    color: #555; /* Dark gray color for the title */
    margin: 0; /* Remove default margin */
    padding-left: 35px; /* Left padding for the title */
    padding-bottom: -30px; /* Bottom padding for the title */
    padding-top: 15px; /* Top padding for the title */
}

.subheader p {
    font-size: 14px; /* Font size for the description */
    color: #777; /* Gray color for the description */
    padding-left: 35px; /* Left padding for the description */
}  