/* Subheader.css - Styles for the subheader component */

.subheader {
    background-color: #fafafa; /* White background color */
    padding: 3px; /* Adjust padding as needed */
    text-align: left; /* Align text to the left */
    position: relative; /* Ensure it's not absolute or fixed */
    z-index: 10; /* Ensure it stays above other content */
    border-bottom: 1px solid #848484; /* Light gray border at the bottom */
}

.subheader h2 {
    font-size: 20px; /* Font size for the subheader title */
    font-family: "Be Vietnam Pro", sans-serif;
    color: #333; /* Dark gray color for the title */
    margin: 0; /* Remove default margin */
    padding-left: 35px; /* Left padding for the title */
    padding-bottom: 5px; /* Bottom padding for the title */
    padding-top: 15px; /* Top padding for the title */
}

.subheader p {
    font-size: 15px; /* Font size for the description */
    font-family: "Be Vietnam Pro", sans-serif;
    color: #333; /* Gray color for the description */
    margin: 0; /* Remove default margin */
    padding-left: 35px; /* Left padding for the description */
    padding-right: 65px; /* Left padding for the description */

    padding-top: 5px; /* Top padding for the description */
    padding-bottom: 15px; /* Bottom padding for the description */
}